# Get both from https://trello.com/power-ups/admin
# 1. Create a (private) Power-Up to obtain your API key
# 2. Click the "Token" link next to the key to generate a user token
TRELLO_API_KEY=
TRELLO_TOKEN=
